*.class

#Gradle
.gradletasknamecache
.gradle/
build/
bin/

# Eclipse project files
.classpath
.project

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath